{
  "extends": [
    "@antfu"
  ],
  "plugins": ["unused-imports"],
  "rules": {
    "antfu/if-newline": "off",
    "antfu/top-level-function": "off",
    "comma-dangle": ["error", "never"],
    "@typescript-eslint/comma-dangle": ["error", "never"],
    "quote-props": ["error", "as-needed"],
    "@typescript-eslint/quote-props": ["error", "as-needed"],
    "@typescript-eslint/no-unused-vars": "off",
		"unused-imports/no-unused-imports": "error",
		"unused-imports/no-unused-vars": [
			"warn",
			{ "vars": "all", "varsIgnorePattern": "^_", "args": "after-used", "argsIgnorePattern": "^_" }
		]
  }
}